<div id="footer">
    <div class="yt-horizontal-rule">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
    </div>
    <div id="footer-logo">
        <a href="/" title="YouTube home">
            <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="YouTube home">
        </a>
        <span id="footer-divider"></span>
    </div>
    <div id="footer-main">
        <ul id="footer-links-primary">
            <li><a href="/t/about_youtube">About</a></li>
            <li><a href="/t/press">Press &amp; Blogs</a></li>
            <li><a href="/t/copyright_center">Copyright</a></li>
            <li><a href="/creators">Creators &amp; Partners</a></li>
            <li><a href="/t/advertising_overview">Advertising</a></li>
            <li><a href="/dev">Developers</a></li>
        </ul>
        <ul id="footer-links-secondary">
            <li><a href="/t/terms">Terms</a></li>
            <li><a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a></li>
            <li><a href="//support.google.com/youtube/bin/request.py?contact_type=abuse&amp;hl=en-US">Safety</a></li>
            <li><a href="//www.google.com/tools/feedback/intl/en/error.html" onclick='return yt.www.feedback.start(yt.getConfig("FEEDBACK_LOCALE_LANGUAGE"),yt.getConfig("FEEDBACK_LOCALE_EXTRAS"))' id="reportbug">Send feedback</a></li>
            <li><a href="/testtube">Try something new!</a></li>
        </ul>
        <ul class="pickers yt-uix-button-group" data-button-toggle-group="optional">
            <li>Language:<button disabled type="button" class="yt-uix-button yt-uix-button-text yt-uix-tooltip" data-tooltip-text="Unavailable" onclick="return!1"
                    data-button-toggle="true" data-picker-position="footer" data-button-menu-id="arrow-display"
                    data-picker-key="language" data-button-action="yt.www.picker.load" role="button"><span
                        class="yt-uix-button-content">English</span><img class="yt-uix-button-arrow"
                        src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt=""></button></li>
            <li>Location:<button disabled type="button" class="yt-uix-button yt-uix-button-text yt-uix-tooltip" data-tooltip-text="Unavailable" onclick="return!1"
                    data-button-toggle="true" data-picker-position="footer" data-button-menu-id="arrow-display"
                    data-picker-key="country" data-button-action="yt.www.picker.load" role="button"><span
                        class="yt-uix-button-content">Worldwide</span><img class="yt-uix-button-arrow"
                        src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt=""></button></li>
            <li>Safety:<button disabled type="button" class="yt-uix-button yt-uix-button-text yt-uix-tooltip" data-tooltip-text="Unavailable" onclick="return!1"
                    data-button-toggle="true" data-picker-position="footer" data-button-menu-id="arrow-display"
                    data-picker-key="safetymode" data-button-action="yt.www.picker.load" role="button"><span
                        class="yt-uix-button-content">Off</span><img class="yt-uix-button-arrow"
                        src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt=""></button></li>
        </ul>
    </div>
</div>